<!DOCTYPE html>
<html>
<head>
  <title>Lawn Ninja</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form>
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <input type="email" name="email">
    <input type="text" name="street_address">
    <input type="text" name="city">
    <input type="text" name="state">
    <input type="text" name="zip_code">
    <input type="text" name="phone_number">
    <!-- do we want this to be a checkbox/radio button? how do we want a user to indicate they are a provider? -->
    <input type="radio" name="provider">
    <input type="submit" value="Submit">
  </form>
</body>
</html>