<script src="https://js.stripe.com/v3/"></script>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

<script>
  /* gloal Stripe */
// const stripe = Stripe('pk_test_pfiHbCeRywiDbeKtB4WO2Yz20007yPmMEU');
// const myForm = document.querySelector('.my-form');
// myForm.addEventListener('submit', handleForm);

// async function handleForm(event) {
//   event.preventDefault();

//   const accountResult = await stripe.createToken('account', {
//     business_type: 'company',
//     company: {
//       name: document.querySelector('.inp-company-name').value,
//       address: {
//         line1: document.querySelector('.inp-company-street-address1').value,
//         city: document.querySelector('.inp-company-city').value,
//         state: document.querySelector('.inp-company-state').value,
//         postal_code: document.querySelector('.inp-company-zip').value,
//       },
//     },
//     tos_shown_and_accepted: true,
//   });

//   const personResult = await stripe.createToken('person', {
//     person: {
//       first_name: document.querySelector('.inp-person-first-name').value,
//       last_name: document.querySelector('.inp-person-last-name').value,
//       address: {
//         line1: document.querySelector('.inp-person-street-address1').value,
//         city: document.querySelector('.inp-person-city').value,
//         state: document.querySelector('.inp-person-state').value,
//         postal_code: document.querySelector('.inp-person-zip').value,
//       },
//     },
//   });

//   if (accountResult.token && personResult.token) {
//     document.querySelector('#account-token').value = accountResult.token.id;
//     document.querySelector('#person-token').value = personResult.token.id;
//     myForm.submit();
//   }
// }

</script>